@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h2>Stylist Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

<ul>
@if (@Model.Clients.Count == 0)
{
  <p>no clients found</p>
}

@foreach (Client client in @Model.Clients)
{
  <li>Description: @client.Description</li>
}
</ul>

<p>@Html.ActionLink("Back to Stylists", "Index")</p>
<p>@Html.ActionLink("Edit Stylists", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>