@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h4>Stylist Details</h4>
<hr />
<h4>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h4>

<ul>
@if (@Model.Clients.Count == 0)
{
  <h4>no clients found</h4>
}

@foreach (Client client in @Model.Clients)
{
  <li>Name: @client.Name</li>
}
</ul>

<p>@Html.ActionLink("Back to Stylists", "Index")</p>
<p>@Html.ActionLink("Edit Stylists", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>