@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new Client</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)

    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")

    <input type="submit" value="Add new client" class="btn btn-default" />
}
<!-- <p>@Html.ActionLink("Show all items", "Index")</p> -->